*~
*.o
*.Po
*.in
autom4te.cache
Makefile
config.h
config.log
config.status
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
missing
stamp-h1
*.a
*.so
*.bak
optimizer/poly_optimizer
optimizer/rbf_optimizer
optimizer/sigmoid_optimizer
bpla_kernel/bpla_kernel
bpla_kernel/la_kernel
bpla_kernel/bpla_optimizer
stem_kernel_lite/la_kernel
stem_kernel_lite/stem_kernel_lite
*.deps
*.dirstamp
