*~
*.o
*.Po
examples/*
autom4te.cache
Makefile
config.h
config.log
config.status
src/ractip
*.a
*.pyc
*.so
*.bak
optimizer/poly_optimizer
optimizer/rbf_optimizer
optimizer/sigmoid_optimizer
*.deps
*.dirstamp
